body {
    background-color: black;
}
h1 {
    color: white;
}
.square {
    border-radius: 20px;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
}
h1,
.square {
    transition: 0.7s;
}
#container {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#messageContainer {
    background-color: white;
}
