<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    
</head>

<body>

    <% if(product === 'dog_food' || product==='chew_toy' || product==='treats'){%>
    <h1>Click here to buy
        <%=  product.replace('_',' ') %>
    </h1>
    <% }else{%>
    <h1>Sorry,we don't sell that</h1>
    <% }%>

</body>

</html>