<%- include('partials/header')%>
<div class="container-fluid w-75">
    <h1>Log in</h1>
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="username">Username</label>
            <input
                id="username"
                type="text"
                name="username"
                placeholder="Username"
                class="form-control"
                required
            />
        </div>

        <div class="mb-3">
            <label for="password">Password</label>
            <input
                id="password"
                type="password"
                name="password"
                placeholder="Password"
                class="form-control"
                required
            />
        </div>

        <div class="d-grid gap-2 my-5">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>

<%- include('partials/footer')%>
