<%- include('partials/header')%>
<div class="container">
    <h1>Sign up</h1>
    <form action="/signup" method="POST">

        <div class="mb-3">
            <label for="email">Email</label>
            <input
                id="email"
                type="text"
                name="email"
                placeholder="Email Address"
                class="form-control"
                required
                autofocus
            />
        </div>

        <div class="mb-3">
            <label for="username">Username</label>
            <input
                id="username"
                type="text"
                name="username"
                placeholder="Username"
                class="form-control"
                required
            />
        </div>

        <div class="mb-3">
            <label for="password">Password</label>
            <input
                id="password"
                type="password"
                name="password"
                placeholder="Password"
                class="form-control"
                required
            />
        </div>

        <button type="submit" class="btn btn-secondary btn-lg my-4">
            Sign Up
        </button>
    </form>
</div>

<%- include('partials/footer')%>

