body {
    font-family: "Lobster", cursive;
    font-size: 2em;
}
h1 {
    padding-bottom: 10px;
    border-bottom: 5px solid rgb(46, 226, 202);
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#coluna-1 img,
#coluna-2 img,
#coluna-3 img{
    margin: 10px;

} 
