<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <script></script>
</head>

<body>
    <div>
        <h1>Product name: <%= item.name %></h1>
        <p>Price: $<%= item.price + 1 %></p>
        <!--Anything inside of these tags is treated a JS-->
        <h2>User reviews:</h2>
        <!-- Using forEach for templates -->
        <ul>
            <% comments.forEach(comment=> { %>
            <li><%= comment %></li>
            <% }) %>
        </ul>
        <p></p>
    </div>
</body>

</html>